absl-py==2.3.1
action-msgs==2.0.2
action-tutorials-interfaces==0.33.5
action-tutorials-py==0.33.5
actionlib-msgs==5.3.6
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.0
aiosignal==1.4.0
ament-cmake-test==2.5.4
ament-copyright==0.17.2
ament-cppcheck==0.17.2
ament-cpplint==0.17.2
ament-flake8==0.17.2
ament-index-python==1.8.1
ament-lint==0.17.2
ament-lint-cmake==0.17.2
ament-package==0.16.4
ament-pep257==0.17.2
ament-uncrustify==0.17.2
ament-xmllint==0.17.2
angles==1.16.0
annotated-types==0.7.0
anyio==4.10.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.3.0
asttokens==3.0.0
async-lru==2.0.5
attrs==25.3.0
babel==2.17.0
beautifulsoup4==4.13.4
bleach==6.2.0
box2d-py==2.3.5
Brotli==1.1.0
brotlicffi @ file:///croot/brotlicffi_1736182461069/work
builtin-interfaces==2.0.2
certifi @ file:///croot/certifi_1754570635119/work/certifi
cffi @ file:///croot/cffi_1736182485317/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click==8.3.0
cloudpickle==3.1.1
comm==0.2.3
composition-interfaces==2.0.2
contourpy==1.3.3
cv-bridge==4.1.0
cycler==0.12.1
debugpy==1.8.16
decorator==5.2.1
defusedxml==0.7.1
demo-nodes-py==0.33.5
diagnostic-msgs==5.3.6
domain-coordinator==0.12.0
einops==0.8.1
example-interfaces==0.12.0
examples-rclpy-executors==0.19.5
examples-rclpy-minimal-action-client==0.19.5
examples-rclpy-minimal-action-server==0.19.5
examples-rclpy-minimal-client==0.19.5
examples-rclpy-minimal-publisher==0.19.5
examples-rclpy-minimal-service==0.19.5
examples-rclpy-minimal-subscriber==0.19.5
executing==2.2.0
Farama-Notifications==0.0.4
fastapi==0.119.0
fastjsonschema==2.21.2
ffmpy==0.6.3
filelock @ file:///croot/filelock_1744281381737/work
fonttools==4.60.1
fqdn==1.5.1
frozenlist==1.8.0
fsspec==2025.9.0
geometry-msgs==5.3.6
gitdb==4.0.12
GitPython==3.1.45
gmpy2 @ file:///croot/gmpy2_1738085463648/work
gradio==5.49.1
gradio_client==1.13.3
groovy==0.1.2
grpcio==1.75.1
gymnasium==1.2.1
h11==0.16.0
hf-xet==1.1.10
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.35.3
idna @ file:///croot/idna_1714398848350/work
image-geometry==4.1.0
imageio==2.37.0
imageio-ffmpeg==0.6.0
interactive-markers==2.5.4
ipykernel==6.30.1
ipython==9.4.0
ipython_pygments_lexers==1.1.1
isoduration==20.11.0
jedi==0.19.2
Jinja2 @ file:///croot/jinja2_1741710844255/work
joblib==1.5.2
json5==0.12.1
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.4.1
jupyter-events==0.12.0
jupyter-lsp==2.2.6
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
kiwisolver==1.4.9
lark==1.2.2
laser-geometry==2.7.1
launch==3.4.5
launch-ros==0.26.8
launch-testing==3.4.5
launch-testing-ros==0.26.8
launch-xml==3.4.5
launch-yaml==3.4.5
lifecycle-msgs==2.0.2
lightning-utilities==0.15.2
llvmlite==0.45.1
logging-demo==0.33.5
map-msgs==2.4.1
Markdown==3.9
markdown-it-py==4.0.0
MarkupSafe @ file:///croot/markupsafe_1738584038848/work
matplotlib==3.10.7
matplotlib-inline==0.1.7
mdurl==0.1.2
message-filters==4.11.6
mistune==3.1.3
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
mpmath @ file:///croot/mpmath_1690848262763/work
multidict==6.7.0
my-py-pkg==0.0.0
narwhals==2.8.0
nav-msgs==5.3.6
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx @ file:///croot/networkx_1737039604450/work
notebook==7.4.5
notebook_shim==0.2.4
numba==0.62.1
numpy @ file:///croot/numpy_and_numpy_base_1725470312869/work/dist/numpy-2.0.1-cp311-cp311-linux_x86_64.whl#sha256=372b9067cf9c96d8662c6f20ef49eeda43f0f8d2f074820224c954d8d8fae7bc
opencv-python==4.12.0.88
orjson==3.11.3
osrf-pycommon==2.1.6
overrides==7.7.0
packaging==25.0
pandas==2.3.3
pandocfilters==1.5.1
parso==0.8.4
pcl-msgs==1.0.0
pendulum-msgs==0.33.5
pexpect==4.9.0
pillow @ file:///croot/pillow_1752524526621/work
platformdirs==4.3.8
plotly==6.3.1
prometheus_client==0.22.1
prompt_toolkit==3.0.51
propcache==0.4.1
protobuf==6.33.0
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==2.11.10
pydantic_core==2.33.2
pydub==0.25.1
pygame==2.6.1
Pygments==2.19.2
pynndescent==0.5.13
pyparsing==3.2.5
PySocks @ file:///work/ci_py311/pysocks_1676822712504/work
python-dateutil==2.9.0.post0
python-json-logger==3.3.0
python-multipart==0.0.20
python-qt-binding==2.2.1
pytorch-lightning==2.5.5
pytz==2025.2
PyYAML @ file:///croot/pyyaml_1728657952215/work
pyzmq==27.0.2
qt-dotgraph==2.7.5
qt-gui==2.7.5
qt-gui-cpp==2.7.5
qt-gui-py-common==2.7.5
quality-of-service-demo-py==0.33.5
rcl-interfaces==2.0.2
rclpy==7.1.4
rcutils==6.7.2
referencing==0.36.2
requests @ file:///croot/requests_1750426329888/work
resource-retriever==3.4.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.2.0
rmw-dds-common==3.1.0
ros2action==0.32.4
ros2bag==0.26.7
ros2bag-mcap-cli==0.26.7
ros2bag-sqlite3-cli==0.26.7
ros2cli==0.32.4
ros2component==0.32.4
ros2doctor==0.32.4
ros2interface==0.32.4
ros2launch==0.26.8
ros2lifecycle==0.32.4
ros2multicast==0.32.4
ros2node==0.32.4
ros2param==0.32.4
ros2pkg==0.32.4
ros2run==0.32.4
ros2service==0.32.4
ros2topic==0.32.4
rosbag2-interfaces==0.26.7
rosbag2-py==0.26.7
rosgraph-msgs==2.0.2
rosidl-adapter==4.6.5
rosidl-cli==4.6.5
rosidl-cmake==4.6.5
rosidl-generator-c==4.6.5
rosidl-generator-cpp==4.6.5
rosidl-generator-py==0.22.1
rosidl-generator-type-description==4.6.5
rosidl-parser==4.6.5
rosidl-pycommon==4.6.5
rosidl-runtime-py==0.13.1
rosidl-typesupport-c==3.2.2
rosidl-typesupport-cpp==3.2.2
rosidl-typesupport-fastrtps-c==3.6.1
rosidl-typesupport-fastrtps-cpp==3.6.1
rosidl-typesupport-introspection-c==4.6.5
rosidl-typesupport-introspection-cpp==4.6.5
rpds-py==0.27.0
rpyutils==0.4.1
rqt-action==2.2.0
rqt-bag==1.5.4
rqt-bag-plugins==1.5.4
rqt-console==2.2.1
rqt-graph==1.5.4
rqt-gui==1.6.0
rqt-gui-py==1.6.0
rqt-msg==1.5.1
rqt-plot==1.4.3
rqt-publisher==1.7.2
rqt-py-common==1.6.0
rqt-py-console==1.2.2
rqt-reconfigure==1.6.2
rqt-service-caller==1.2.1
rqt-shell==1.2.2
rqt-srv==1.2.2
rqt-topic==1.7.3
ruff==0.14.0
safehttpx==0.1.6
scikit-learn==1.7.2
scipy==1.16.2
semantic-version==2.10.0
Send2Trash==1.8.3
sensor-msgs==5.3.6
sensor-msgs-py==5.3.6
sentry-sdk==2.42.0
service-msgs==2.0.2
shape-msgs==5.3.6
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.7
sros2==0.13.3
stack-data==0.6.3
starlette==0.48.0
statistics-msgs==2.0.2
std-msgs==5.3.6
std-srvs==5.3.6
stereo-msgs==5.3.6
swig==4.3.1.post0
sympy==1.13.1
teleop-twist-keyboard==2.4.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
terminado==0.18.1
tf2-geometry-msgs==0.36.12
tf2-kdl==0.36.12
tf2-msgs==0.36.12
tf2-py==0.36.12
tf2-ros-py==0.36.12
tf2-sensor-msgs==0.36.12
tf2-tools==0.36.12
threadpoolctl==3.6.0
tinycss2==1.4.0
tomlkit==0.13.3
topic-monitor==0.33.5
torch==2.5.1
torchaudio==2.5.1
torchmetrics==1.8.2
torchvision==0.20.1
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
trajectory-msgs==5.3.6
triton==3.1.0
turtlesim==1.8.3
type-description-interfaces==2.0.2
typer==0.19.2
types-python-dateutil==2.9.0.20250809
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
umap-learn==0.5.9.post2
unique-identifier-msgs==2.5.0
uri-template==1.3.0
urllib3 @ file:///croot/urllib3_1750775463400/work
uvicorn==0.37.0
visualization-msgs==5.3.6
wandb==0.22.2
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
yarl==1.22.0
